<!doctype html>
<html>
<head>
    <title>Pebble OS</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <img class="logo" src="logo.png" alt="Pebble OS" width="270" height="48"></img>

            <nav>
                <a href="/">Home</a>
                <a href="https://github.com/pebble-os">Github</a>
                <a href="/book">Book</a>
                <a href="/pebble/kernel">Kernel docs</a>
            </nav>
        </div>

        {{ content }}
    </div>
</body>
</html>

